.navbar {
    padding: 0px !important;
    text-align: center;
   /* width: 90%;*/
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar

#header-col{
    transition: .5s ease;
}


/* Maximalize */
.menu-vertical{
    background: #fff;
    margin-left: 25px;
    margin-top: 20px;
    padding-left: 5px;
    height: 94vh;
    border-radius: 30px;
    text-align: center;
    width: 280px !important;
    box-shadow: 0px 4px 14px rgba(0,0,0,.05);
    position: fixed;
    transition: .5s ease;
    overflow: hidden;
}
.menu-vertical .min_links, .menu-vertical .min-logo{
    display: none;
}
.menu-vertical .links{
    margin-top: 0px;
}
@media (max-height: 900px) {
    .links{
        margin-top: 40% !important;
    }
    .min_links{
        margin-top: 0px !important;
    }
}
@media (max-height: 715px) {
    .links{
        margin-top: 20% !important;
    }
}

.menu-vertical .nav-item{
    max-width: 250px;
    width: 100%;
    border-radius: 30px;
    padding: 5px 35px;
    transition: .1s ease;
    margin-bottom: 15px;
}
.menu-vertical .nav-item .nav-link{
    color: #50667f !important;
    text-align: left;
    display: flex;
    font-size: 18px;
}
.menu-vertical .nav-item svg{
    width: 25px;
    height: 25px;
    margin-right: 16px;
}


.navbar-nav .nav-item:hover{
    background: #50667f;
}
.navbar-nav .nav-item:hover svg{
    fill: #fff;
}
.navbar-nav .nav-item:hover .nav-link{
    color: #fff !important;
}

.menu-vertical .head-footer{
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
    width: fit-content;
}
.menu-vertical .head-footer p{
    font-size: 17px;
}
.menu-vertical .head-footer button{
    margin-left: -10px;
    width: 20px;
}
.head-footer button svg{
    fill: #f17569;
    transition: .1s ease;
}
.head-footer button:hover svg{
    fill: #b1554c;
}

/* Minimalize */
.menu-vertical-minimalize{
    background: #fff;
    margin-left: 25px;
    margin-top: 20px;
    height: 94vh;
    border-radius: 30px;
    text-align: center;
    width: 90px !important;
    min-width: 65px !important;
    box-shadow: 0px 4px 14px rgba(0,0,0,.05);
    position: fixed;
    transition: .5s ease;
}

.menu-vertical-minimalize .max-logo, .menu-vertical-minimalize .links, .menu-vertical-minimalize .min_links span, .menu-vertical-minimalize .contacts{
    display: none;
}

.menu-vertical-minimalize .collapse navbar-collapse{
    width: 50px;
}
.menu-vertical-minimalize ul{
    margin-left: -2px;
}

.menu-vertical-minimalize .min_links{
    margin-top: 0px;
}

.menu-vertical-minimalize .head-footer button{
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
    left: 0;
    margin-left: 73px;
    width: 20px;
    transform: translateY(-21px);
}

.menu-vertical-minimalize .nav-item {
    padding: 5px 0px;
    width: 80%;
    text-align: center;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: .2s ease;
}

.menu-vertical-minimalize .nav-item svg{
    width: 70px;
    height: 30px;
    margin: 0 auto;
}

@media (max-width: 1420px) {
    /* Min */
    .menu-vertical{
        background: #fff;
        margin-left: 25px;
        margin-top: 20px;
        height: 94vh;
        border-radius: 30px;
        text-align: center;
        width: 90px !important;
        min-width: 65px !important;
        box-shadow: 0px 4px 14px rgba(0,0,0,.05);
        position: fixed;
        transition: .5s ease;
        z-index: 1000;
    }
    .menu-vertical .max-logo, .menu-vertical .links, .menu-vertical .min_links span, .menu-vertical .contacts{
        display: none;
    }

    .menu-vertical .collapse navbar-collapse{
        width: 50px;
    }
    .menu-vertical ul{
        margin-left: -2px;
    }

    .menu-vertical .min_links{
        margin-top: 200px;
        margin-left: -6px;
    }

    .menu-vertical .head-footer button{
        position: fixed;
        bottom: 0;
        margin-bottom: 60px;
        left: 0;
        margin-left: 67px;
        width: 20px;
    }

    .menu-vertical .nav-item {
        padding: 5px 0px;
        width: 80%;
        text-align: center;
        border-radius: 7px;
        margin: 0 auto;
        margin-bottom: 10px;
        transition: .2s ease;
    }

    .menu-vertical .nav-item svg{
        width: 89px;
        height: 30px;
        margin: 0 auto;
    }

    .menu-vertical .min_links, .menu-vertical .min-logo{
        display: block;
    }

    .menu-vertical .navbar-nav .nav-item:hover{
        color: #50667f;
        background: rgba(0,0,0,0);
    }
    .menu-vertical .navbar-nav .nav-item:hover svg{
        fill: #50667f;
    }
    .menu-vertical .min-logo{
        margin-left: -19px;
    }

    .headermenu-col{
        flex: 0 0 14.666667% !important;
        max-width: 14.666667% !important;
    }




    /* Maximum */
    .menu-vertical-minimalize{
        background: #fff;
        margin-left: 25px;
        margin-top: 20px;
        padding-left: 5px;
        height: 94vh;
        border-radius: 30px;
        text-align: center;
        width: 280px !important;
        box-shadow: 0px 4px 14px rgba(0,0,0,.05);
        position: fixed;
        transition: .5s ease;
        overflow: hidden;
        z-index: 1000;
    }
    .menu-vertical-minimalize .min_links, .menu-vertical-minimalize .min-logo{
        display: none;
    }
    .menu-vertical-minimalize .links{
        margin-top: 200px;
    }

    .menu-vertical-minimalize .nav-item{
        max-width: 260px;
        width: 100%;
        border-radius: 30px;
        padding: 5px 35px;
        transition: .1s ease;
        margin-bottom: 15px;
    }
    .menu-vertical-minimalize .nav-item .nav-link{
        color: #50667f !important;
        text-align: left;
        display: flex;
        font-size: 18px;
    }
    .menu-vertical-minimalize .nav-item svg{
        width: 25px;
        height: 25px;
        margin-right: 16px;
        margin-left: 0px;
    }

    .menu-vertical-minimalize .head-footer{
        text-align: left;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 73px;
        margin-bottom: 60px;
        width: 250px;
    }
    .menu-vertical-minimalize .head-footer p{
        font-size: 17px;
    }
    .menu-vertical-minimalize .head-footer button{
        position: fixed;
        bottom: 0;
        margin-bottom: 60px;
        left: 0;
        margin-left: 85px;
        width: 20px;
        transform: translateY(-21px);
    }
    .menu-vertical-minimalize .max-logo, .menu-vertical-minimalize .links{
        display: block;
    }
    .menu-vertical-minimalize{

    }
    .menu-vertical-minimalize .min-logo{
        display: none;
    }

    .menu-vertical-minimalize .head-footer{
        text-align: left;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 73px;
        margin-bottom: 60px;
        width: 250px;
    }
    .menu-vertical-minimalize .head-footer p{
        font-size: 17px;
    }
    .menu-vertical-minimalize .max-logo, .menu-vertical-minimalize .links, .menu-vertical-minimalize .min_links span, .menu-vertical-minimalize .contacts{
        display: block;
    }
}
